# Ignore massive datasets (ONLY top-level data folder)
/data/
!/data/.gitkeep

# Ignore specific dataset folder if needed
/data/ptbxl/

# Keep source code
!src/data/

# Ignore training output
/checkpoints/
/logs/
/processed/

# Python cache / compiled files
__pycache__/
*.pyc

# macOS system files
.DS_Store
**/.DS_Store